<div class="mt-5  card-columns transition-slow-css">

    <div class="bg-dark card scale">
        <img class="card-img" src="../assets/images/acuarelas/1.png" alt="Acuarela de Gustavo Silverati. El primero de la serie Acuarelas">
    </div>

    <div class="bg-dark card scale">
        <img class="card-img" src="../assets/images/acuarelas/2.png" alt="Acuarela de Gustavo Silverati. El segundo de la serie Acuarelas">
    </div>

    <div class="bg-dark card scale">
        <img class="card-img" src="../assets/images/acuarelas/3.png" alt="Acuarela de Gustavo Silverati. El tercero de la serie Acuarelas">
    </div>

    <div class="bg-dark card scale">
        <img class="card-img" src="../assets/images/acuarelas/4.png" alt="Acuarela de Gustavo Silverati. El cuarto de la serie Acuarelas">
    </div>

    <div class="bg-dark card scale">
        <img class="card-img" src="../assets/images/acuarelas/5.png" alt="Acuarela de Gustavo Silverati. El quinto de la serie Acuarelas">
    </div>


</div>