<div class="container">

    <div class="row mt-5 contact-flex">

        <div class="col-lg img-flex transition-slow-css">
            <img class=" img-contact" src="../assets/images/contacto/contacto.jpg" alt="" srcset="">
        </div>

        <div class=" col-lg text-flex transition-css">
            <h1>Contacto</h1>
            <p>Para contactarse o consultar por precio de las obras:</p>
            <p><span class="font-weight-bold">Email: </span> silveratigustavo@gmail.com</p>
            <p><span class="font-weight-bold"> Celular:</span> +542494634009</p>


            <h1 class="mt-3">Agradecimientos</h1>
            <a href="mailto:emanuelsegura.unicen@gmail.com">
                <p><span class="font-weight-bold">Diseño Web:</span> Emanuel Segura</p>
            </a>
            <p><span class="font-weight-bold">Fotografía:</span> Octavio Silverati</p>
        </div>

    </div>

</div>