<div class="background-black">
    <div class=" mt-5 container about-flex">

        <div class="row">
            <div class="img-flex col-lg img-fluid transition-css">
                <img class='about-flex-child mt-3 img-about' src="../assets/images/about/gs.png" alt="Foto de perfil de el artista tandilense Gustavo Silverati">
            </div>

            <div class="col-lg mt-3 about-flex-child text-group-about transition-slow-css">
                <h1 class="text-about ">Gustavo Alfredo Silverati</h1>
                <p class="text-about">Nace en Tandil, Buenos Aires, el 11 de Julio de 1962. Desde pequeño demostró su interés por el dibujo y la pintura, recibiendo sus primeras lecciones en clases particulares de dibujo, para posteriormente asistir a la academia de pintura
                    que por aquel entonces dependía del Museo Municipal de Bellas Artes de la ciudad de Tandil.</p>
                <p class="text-about">Asistió a talleres dictados por el reconocido acuarelista Goyo Barja.</p>
                <p class="text-about">Permanente observador de obras de distintos artistas, con estilos y escuelas diversas, admira la pintura impresionista de Van Gogh, Sorolla, Casas, Regoyos, Monet, Fortuny y Fader.</p>
                <p class="text-about">Ha participado en muestras colectivas y diversos salones, tales como: Salón del Pequeño Formato (2003, 2009). 6to, 7mo y 10mo "Salón de Arte Tango" (2004, 2005 y 2008). Muestra Conmemorativa Aniversario de la República de Italia (2006).
                    Primer Concurso Provincial de Pintura del Consejo Profesional de Agrimensura de la Provincia de Buenos Aires (2010).</p>
                <p class="text-about">Expuso su obra en : Muestra Colectiva "Dialogo Critico con el Autor" (Agosto de 2011), Salón Nacional de Arte Sacro (2012) y Muestra individual en el Consejo Profesional de Ciencias Económicas Delegación Tandil (Noviembre de 2012).</p>
                <p class="text-about">Recientemente su obra ha tomado un giró radical volcándose al expresionismo abstracto y la experimentación con diferentes técnicas combinadas, su muestra mas reciente "El Expertise de las Mariposas" da cuenta de dicho proceso.</p>
            </div>
        </div>
    </div>

</div>