<section class=" transition-slow-css ">
    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">El Expértise de las Mariposas</h2>
                        <p class="card-text">Siempre me deslumbraron las mariposas y su mágica transformación, “la crisálida” por la cual pasan de ser una oruga a una tan bella como frágil mariposa.</p>
                        <p class="card-text">Una vez que la metamorfosis se produce con éxito, en la crisálida se abre una grieta y empieza a emerger la mariposa, esta se aferra a la cascara de la crisálida rota, las alas arrugadas se secan y comienzan a desplegarse, a la
                            vez que la sangre del insecto fluye por todo su cuerpo y se prepara para el vuelo.</p>
                        <p class="card-text">El proceso tarda alrededor de una hora y luego la mariposa puede volar. Esta hora es la que marcara el resto de su vida, es su “expertise” más valioso. El esfuerzo que realiza para romper la grieta de la crisálida y el ejercicio
                            para que sus alas se sequen y sus patas se desplieguen le permite después volar.
                        </p>
                        <p class="card-text">Alguna vez leí, que en una ocasión, un investigador quiso facilitarle ese duro comienzo de vida a las mariposas, rompiendo él la crisálida, pero lo que consiguió no fue acelerar el proceso, sino que las mariposas cayeran al suelo
                            y murieran por falta de fuerzas.
                        </p>
                        <p class="card-text">El esfuerzo, por lo tanto, es la clave diaria de todo lo que somos y hacemos. Sin esfuerzo es imposible superar las dificultades, aprender y comprender al prójimo.
                        </p>

                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/1.png" class="w-100 h-100" alt="Obra El expertise de las mariposas">
                    <p class=" p-1 text-right epigrafe">"El expertise de las Mariposas" Acrílico s/ tela 70 x 50</p>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/2.png" class="w-100 h-100" alt="Obra El elixir de amor">
                    <p class=" p-1 text-right epigrafe">"El elixir de amor" Acrílico s/ tela 80 x 60</p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">El elixir de amor (“L´elissir d´amore”)
                        </h2>
                        <p class="card-text">Desde que escuche por vez primera esta exquisita opera de Gaetano Donizetti me vi seducido por su dulce armonía. El elixir de amor es una simple botella de vino, que un charlatán vende a un campesino simpático y crédulo llamado
                            Nemorino, quien suspira por Adina, una rica hacendada.</p>
                        <p class="card-text">Mientras la escuchaba, imagine colores, algunos intensos, otros en tono pastel, colores que aplique sobre el lienzo y en el que surgieron extrañas burbujas y manchas; de esta manera realice esta pintura, que no dude en llamar “El
                            elixir de amor”.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </article>


    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/3.png" class=" w-100 h-100" alt="Obra Donde descansan las ninfas del mar">
                    <p class=" p-1 text-right epigrafe">"Donde descansan las ninfas del mar" Oleo y Barníz s/MDF entelado 40 x 30</p>
                </div>

            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">El escondite de las ranas</h2>
                        <p class="card-text">Éramos chicos con mi hermano Sandro y una de las cosas que más nos entretenían, sobre todo a la hora de la siesta, en esos calurosos veranos de vacaciones, era cazar ranas.</p>
                        <p class="card-text">En esa época, vivíamos a la vera de una ruta, más precisamente la ruta 215 que une el trayecto Cnel. Brandsen con la ciudad de La Plata.</p>
                        <p class="card-text">Por el frente de nuestra humilde casa, levantada con mucho sacrificio por nuestro querido padre, pasaba un zanjón, con agua casi estancada, donde se criaban y reproducían ranas. </p>
                        <p class="card-text">Un simple palito del cual atábamos un piolín y en cuyo extremo colocábamos un pequeño trocito de carne, se convertía en nuestra eficaz herramienta de caza, las juntábamos por baldes para que nuestra madre las friera en una sartén
                            por la noche, era una fiesta disfrutar de tan exquisito plato.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/4.png" class="w-100 h-100" alt="Obra El escondite de las ranas">
                    <p class=" p-1 text-right epigrafe">"El escondite de las ranas" Oleo y cera s/ papel de acuarela 28 x 22</p>

                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/5.png" class=" w-100 h-100" alt="Obra Cardumen primero">
                    <p class=" p-1 text-right epigrafe">"Cardumen I" Oleo s/MDF entelado 24 x 18</p>
                </div>

            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/6.png" class="w-100 h-100" alt="Obra Arlequin en estado liquido">
                    <p class=" p-1 text-right epigrafe"> "Arlequín en estado liquido" Acrílico s/ tela 50 x 20</p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Arlequín en estado líquido</h2>
                        <p class="card-text">Colores de arlequín, que en tantas oportunidades inspiraron al genio de Picasso, parecen surgir en forma de gotas liquidas impactadas sobre un fondo verde oscuro.</p>
                        <p class="card-text">La combinación de estos colores rojo, amarillo y anaranjados me sugirieron el título de esta obra.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/7.png" class=" w-100 h-100" alt="Obra Florida a las 17:45 horas">
                    <p class=" p-1 text-right epigrafe">"Florida 17:45" Acrílico s/ tela 50 x 20</p>

                </div>

            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">El romance del señor Pulpo y la señorita Medusa</h2>
                        <p class="card-text">La misteriosa y fantástica relación entre un hombre mayor y una joven mujer, se ven reflejadas en esta pintura.</p>
                        <p class="card-text">Como sucede con muchos “amores imposibles”, llenos de culpa y pasión, la medusa intenta abandonar al pulpo, pero a la vez deja ser alcanzada y retenida una y otra vez por sus  tentáculos.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/8.png" class="w-100 h-100" alt="Obra El romance del Sr. Pulpo y la Srta. Medusa">
                    <p class=" p-1 text-right epigrafe">"El romance del Sr. Pulpo y la Srta. Medusa" Acrílico & Oleo s/ Tela 60 x 45</p>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/9.png" class=" w-100 h-100" alt="Obra Cardumen 2">
                    <p class=" p-1 text-right epigrafe">"Cardumen II" Oleo s/MDF entelado 50 x 40</p>
                </div>

            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/10.png" class="w-100 h-100" alt="Obra voyeur de un abismo">
                    <p class=" p-1 text-right epigrafe">"Voyeur de un abismo" Acrilico s/tela 90 x 35</p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Voyeur de un abismo</h2>
                        <p class="card-text">Nietzsche escribió “cuando miras al abismo, el abismo también te mira a ti”.</p>
                        <p class="card-text">El voyeur mira de forma furtiva, en realidad observa subrepticiamente como quien espía detrás de una puerta, con la intención de no ser visto.
                        </p>
                        <p class="card-text">La vida, algunas veces nos enfrenta al abismo, nos pone en su mismo límite, desafiándonos a seguir luchando, a bucear en nuestro interior, buscando esas fuerzas ocultas, que nos permitan seguir adelante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/11.png" class=" w-100 h-100" alt="Obra the final cut">
                    <p class=" p-1 text-right epigrafe">"The Final Cut" Collage 28 x 22</p>
                </div>

            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">

                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Casandra</h2>
                        <p class="card-text">Si hay alguna maldición cruel es sin duda la de conocer los males que van a acontecer y no poder hacer nada por evitarlos, siendo este el fatal destino de Casandra durante la conocida guerra de Troya. Casandra pertenecía a la Realeza
                            Troyana siendo hija de Príamo y de su esposa Hécuba, reyes de Troya.</p>
                        <p class="card-text">Era una joven ambiciosa y quería tener un don especial por lo que rezó día y noche al dios Apolo, dios al que se veneraba principalmente en la ciudad, para que le concediera el poder de la clarividencia para así poder predecir
                            el porvenir.</p>
                        <p class="card-text">Apolo, enamorado de la bella joven, decidió concedérselo una vez que esta le hubiese entregado su amor. Cuando ya le había concedido su deseo, Casandra renegó de su amor por Apolo, lo que enfureció al Dios.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/12.png" class="w-100 h-100" alt="Obra casandra">
                    <p class=" p-1 text-right epigrafe">"Casandra" Acrilico s/ tela 80 x 60</p>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/13.png" class=" w-100 h-100" alt="Obra la humildad de la lluvia">
                    <p class=" p-1 text-right epigrafe">"La humildad de la lluvia" Oleo, collage y barníz s/ papel de acuarela 28 x 22</p>
                </div>

            </div>
        </div>
    </article>


    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/14.png" class="w-100 h-100" alt="Obra sublime deus">
                    <p class=" p-1 text-right epigrafe">"Sublime Deus" Acrílico y Barniz s/ papel de acuarela 28 x 22</p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Sublime Deus</h2>
                        <p class="card-text">En esta Bula promulgada por el Papa Pablo III el 2 de Junio de 1537 se establecía el derecho a la libertad de los indígenas de las indias, la prohibición de someterlos a esclavitud y la conveniencia de predicar entre ellos la doctrina
                            cristiana.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Mañana de Carnaval (“Manha de Carnaval”)</h2>
                        <p class="card-text">Esta dulce y a la vez melancólica canción que pertenece a Luis Bonfá y Antonio María, fue el tema principal de la película Orfeo Negro dirigida por el francés Marcel Camus en 1959. Si bien a lo largo de los años ha sido interpretada
                            por muchos músicos, con estilos muy distintos, la versión que de la misma realizaron John Mc Lauglin, Paco de Lucia y Al Di Meola, es mi preferida, por eso la seleccione para musicalizar esta página.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/15.jpg" class="w-100 h-100" alt="Obra manha de carnaval">
                    <p class=" p-1 text-right epigrafe">"Manha de Carnaval"
                    </p>

                </div>
            </div>
        </div>
    </article>



    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/16.png" class="w-100 h-100" alt="Obra angel para un final">
                    <p class=" p-1 text-right epigrafe">"Angel para un final" Acrílico, Oleo y Barniz s/MDF entelado 60 x 40
                    </p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Ángel para un final</h2>
                        <p class="card-text"> La poesía del cubano Silvio Rodríguez, refleja en la letra de esta hermosa canción, de manera magistral, el desamor.</p>

                        <p class="poesia">"Cuentan que cuando un silencio</p>
                        <p class="poesia">Aparece entre dos</p>
                        <p class="poesia">Era que pasaba un ángel</p>
                        <p class="poesia">Que les robaba la voz</p>
                        <p class="poesia">Y hubo tal silencio el día</p>
                        <p class="poesia">Que nos tocaba olvidar</p>
                        <p class="poesia">Que de tal suerte yo todavía</p>
                        <p class="poesia">No termine de callar".</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/17.png" class=" w-100 h-100" alt="Obra un 24 de junio en medellin">
                    <p class=" p-1 text-right epigrafe">"Un 24 de Junio en Medellin" Acrilico, Colage y Oleo s/MDF entelado 70 x 50
                    </p>
                </div>
            </div>
        </div>
    </article>


    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">El vuelo de Ícaro</h2>
                        <p class="card-text">Ícaro estaba retenido junto a su padre, Dédalo, en la isla de Creta por el rey de la isla, llamado Minos.
                        </p>
                        <p class="card-text">Dédalo decidió escapar de la isla en secreto, pero dado que Minos controlaba las aguas y la tierra , Dédalo se puso a trabajar para fabricar alas para él y su joven hijo, Ícaro. Enlazó plumas entre sí uniendo con hilo las plumas
                            centrales y con cera las laterales, y le dio al conjunto la suave curvatura de las alas de un pájaro. Ícaro a veces corría a recoger del suelo las plumas que el viento se había llevado o ablandaba la cera.
                        </p>
                        <p class="card-text">Cuando al fin terminó el trabajo, Dédalo batió sus alas y se halló subiendo y suspendido en el aire. Equipó entonces a su hijo de la misma manera, y le enseñó cómo volar. Cuando ambos estuvieron preparados para volar, Dédalo advirtió
                            a Ícaro que no volase demasiado alto porque el calor del sol derretiría la cera, ni demasiado bajo porque la espuma del mar mojaría las alas y no podría volar.</p>
                        <p class="card-text">Pasaron las islas de Samos, Delos, Paros, Lebintos y Calimna, entonces el muchacho comenzó a ascender. El ardiente sol ablandó la cera que mantenía unidas las plumas y estas se despegaron. Ícaro agitó sus brazos, pero no quedaban
                            suficientes plumas para sostenerlo en el aire y cayó al mar. Su padre lloró y lamentando amargamente sus artes, y, en su memoria, llamó Icaria a la tierra cercana al lugar del mar en el que Ícaro había caído.</p>
                        <p class="card-text">Dédalo llegó sano y salvo a Sicilia, donde quedó bajo la protección del rey Cócalo.</p>
                        <p class="card-text">Intentar volar demasiado alto puede hacerte caer.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/18.png" class="w-100 h-100" alt="Obra el vuelo de icaro">
                    <p class=" p-1 text-right epigrafe">"El vuelo de Ícaro" Acrilico s/ tela 80 x 60
                    </p>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/19.png" class=" w-100 h-100" alt="Obra sueno del juicio final">
                    <p class=" p-1 text-right epigrafe">"Sueño del juicio final" Acrílico s/ papel de acuarela 28 x 22</p>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/20.png" class="w-100 h-100" alt="Obra nube de mariposas">
                    <p class=" p-1 text-right epigrafe">"Nube de Mariposas" Acrílico, Barniz y Oleo s/MDF entelado 50 x 40</p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">Nube de Mariposas</h2>
                        <p class="card-text">Un día vi una nube de mariposas, o quizás la imaginé, no sé, vaya a saber. Miles de mariposas, que desde el margen del río Iguazú, levantaban vuelo, pero no eran las  amarronadas y grisáceas “autographa gamma” que en alguna oportunidad
                            tiñeron el cielo de Madrid, fenómeno que se repite cada cierto tiempo, probablemente relacionado con las abundantes lluvias de primavera, después de la puesta del sol.</p>
                        <p class="card-text">Las que yo vi, o imagine, eran de brillantes colores que contrastaban con el color verdoso azulado del río, formando una colorida nube.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">La Herida del Dragón</h2>
                        <p class="card-text">En la mitología griega Hidra de Lerna  era hija de Tifón y Equidn. Se decía que era hermana del león de Nemea y que por ello buscaba venganza por la muerte de este a manos de Hércules.
                        </p>
                        <p class="card-text">Hidra había sido elegida como trabajo para Hércules, de forma que este muriese. Hércules se enfrentó a ella con su espada, matándola y completando así su segundo trabajo.</p>
                        <p class="card-text">Este dragón mitológico llamado Hidra y su herida mortal, se reflejan en esta pintura, donde combiné distintos materiales y técnicas, buscando lograr lo que imagino puede “de haber existido” parecerse a la piel de un dragón.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/21.png" class="w-100 h-100" alt="Obra la herida del dragon">
                    <p class=" p-1 text-right epigrafe">"La herida del Dragón" Acrílico y Oleo s/tela 70 x 50</p>
                </div>
            </div>
        </div>
    </article>

    <!-- verticales par -->
    <div class="verticales-par">

        <article class="mt-5 obra-margin">
            <div class="row obra-css">
                <div class="col mt-2">
                    <img src="../assets/images/espertise/22.jpg" class=" w-100 h-100" alt="Obra simplemente flores">
                    <p class=" p-1 text-right epigrafe">"Simplemente flores"
                    </p>
                </div>
            </div>
        </article>

        <article class="mt-5 obra-margin">
            <div class="row obra-css">
                <div class="col mt-2">
                    <img src="../assets/images/espertise/23.jpg" class=" w-100 h-100" alt="Obra cuando se te oxida el alma">
                    <p class=" p-1 text-right epigrafe">"Cuando se te oxida el alma"
                    </p>
                </div>
            </div>
        </article>
    </div>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-6 mt-2">
                    <img src="../assets/images/espertise/24.jpg" class="w-100 h-100" alt="Obra el fuego fugaz de los amores de paso">
                    <p class=" p-1 text-right epigrafe">"El fuego fugaz de los amores de paso"
                    </p>
                </div>
                <div class="col-md-6 obra-child">
                    <div class="card-block">
                        <h2 class="card-title">El fuego fugaz de los amores de paso</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus necessitatibus fuga neque aperiam est, quae odio quia vel eius voluptatum, perferendis consectetur distinctio culpa, dolor magnam perspiciatis vero suscipit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="mt-5 obra-margin">
        <div>
            <div class="row obra-css">
                <div class="col-md-12 mt-2">
                    <img src="../assets/images/espertise/25.jpg" class=" w-100 h-100" alt="Obra entre lineas">
                    <p class=" p-1 text-right epigrafe">"Entre lineas"</p>
                </div>
            </div>
        </div>
    </article>

</section>