<div class="mt-5 card-columns transition-slow-css">
    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/atardecer-en-San-Luis.png" alt="Cuadro de Paisaje llamado Atardecer en San Luis">
        <div class="card-body">
            <h5 class="card-title">Atardecer en San Luis</h5>
            <p class="card-text">Oleo s/MDF entelado 40 x 30</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/ocaso.png" alt="Cuadro de paisaje llamado Ocaso">
        <div class="card-body">
            <h5 class="card-title">Ocaso</h5>
            <p class="card-text">Oleo s/tela 80 x 30</p>
        </div>
    </div>


    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/sueno-onirico.png" alt="Cuadro de paisaje llamado Sueño onírico con caballos">
        <div class="card-body">
            <h5 class="card-title">Sueño onírico con caballos</h5>
            <p class="card-text">Oleo s/tela 80 x 50</p>
        </div>
    </div>


    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/colores-de-purmamarca.png" alt="Cuadro de paisaje llamado colores de purmamarca">
        <div class="card-body">
            <h5 class="card-title">Colores de Purmamarca</h5>
            <p class="card-text">Oleo s/MDF entelada 70 x 50</p>
        </div>
    </div>


    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/verde-sinfonia.png" alt="Cuadro de paisaje llamado verde sinfonia">
        <div class="card-body">
            <h5 class="card-title">Verde Sinfonía</h5>
            <p class="card-text">Oleo s/tela 50 x 50</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/paisaje-mendocino.png" alt="Cuadro de paisaje llamado paisaje mendocino">
        <div class="card-body">
            <h5 class="card-title">Paisaje mendocino</h5>
            <p class="card-text">Oleo s/MDF entelado 70 x 50</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/recuerdo-un-abril.png" alt="Cuadro de paisaje llamado Recuerdo un Abril">
        <div class="card-body">
            <h5 class="card-title">Recuerdo un Abril</h5>
            <p class="card-text">Oleo s/MDF entelado 70 x 50</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/reflejos.png" alt="Cuadro de paisaje llamado reflejos">
        <div class="card-body">
            <h5 class="card-title">Reflejos</h5>
            <p class="card-text">Oleo s/MDF entelado 35 x 27</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/un-dia-de-otono.png" alt="Cuadro de paisaje llamado un dia de otoño">
        <div class="card-body">
            <h5 class="card-title">Un día de otoño</h5>
            <p class="card-text">Oleo s/MDF entelado 40 x 30</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/esas-nubecitas.png" alt="Cuadro de paisaje llamado esas nubecitas">
        <div class="card-body">
            <h5 class="card-title">Esas Nubecitas</h5>
            <p class="card-text">Oleo s/MDF entelado 50 x 40</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/cuando-llega-el-alba.png" alt="Cuadro de paisaje llamado cuando llega el alba">
        <div class="card-body">
            <h5 class="card-title">Cuando llega el alba</h5>
            <p class="card-text">Oleo s/MDF entelado 70 x 50</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/dorado-atardecer.jpg" alt="Cuadro de paisaje llamado dorado atardecer">
        <div class="card-body">
            <h5 class="card-title">Dorado atardecer</h5>
            <p class="card-text">-----</p>
        </div>
    </div>

    <div class="bg-dark card scale">
        <img class="card-img-top" src="../assets/images/paisajes/el-camino-encantado.jpg" alt="Cuadro de paisaje llamado el camino encantado">
        <div class="card-body">
            <h5 class="card-title">El camino encantado</h5>
            <p class="card-text">-----</p>
        </div>
    </div>



</div>