<div class="container">

    <div class="row mt-5 mb-3">
        <div class=" col-lg-12">
            <p class="text-obra-cabecera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptate quisquam reiciendis beatae, atque pariatur necessitatibus officia adipisci animi ducimus ut eaque nisi optio ipsa voluptatem dolores, molestias quasi fuga!</p>
        </div>
    </div>

    <div class="mt-5 card bg-dark text-white">
        <img src="../assets/images/obra/a.jpg" class="card-img" alt="Imagen de cabecera de la serie de pinturas titulado el expertise de las mariposas">
        <div class="card-img-overlay">
            <h5 class="mt-3 ml-3 card-title">El Expértise de las mariposas</h5>
        </div>
    </div>
    <p class="mt-3 mb-5 card-text">Nueva colección realizada a lo largo de estos últimos meses. Expone una faceta emocional inmediata volcado en el plano del expresionismo abstracto y la experimentación con diferentes materiales y formato.</p>

    <div class="mt-5 card bg-dark text-white">
        <img src="../assets/images/obra/a.jpg" class="card-img" alt="Imagen de cabecera de la serie de pinturas titulado paisajes">
        <div class="card-img-overlay">
            <h5 class="mt-3 ml-3 card-title">Paisajes</h5>
        </div>
    </div>
    <p class="mt-3 mb-5 card-text">Esta colección recopila una serie de obras realizadas a lo largo de los años. Colores fuertes, arboles variopintos, lagos, edificaciones reflejan una etapa de investigación figurativa e impresionista.</p>

    <div class="mt-5 card bg-dark text-white">
        <img src="../assets/images/obra/a.jpg" class="card-img" alt="Imagen de cabecera de la serie de pinturas titulado acuarelas">
        <div class="card-img-overlay">
            <h5 class="mt-3 ml-3 card-title">Acuarelas</h5>
        </div>
    </div>
    <p class="mt-3 mb-5 card-text">Serie de paisajes realizados en acuarela.</p>


</div>