<div class=" container text-center mt-5 transition-slow-css">
    <a class="btn btn-light prensa-pdf-title" target="_blank" href="https://drive.google.com/file/d/1MKDRiGy5LoRHx0eTbRHR5Qt6wmqq_QNE/view?usp=sharing" role="button">Accede a mi PDF de prensa</a>
</div>

<div class="mt-5 imgs-flex transition-slow-css">

    <div class="mt-5  imgs-flex transition-slow-css">
        <div class="card mb-3 article-img">
            <img src="../assets/images/prensa/diario.jpg" class="card-img-top" alt="Articulo en el diario El Eco de Tandil. Proximamente el paisaje sera el gran protagonista">
            <div class="card-body">
                <h5 class="card-title">Articulo en el diario El Eco de Tandil</h5>
                <p class="card-text">Muestra en el Mumbat. (04/08/2011) </p>
            </div>
        </div>

        <div class="mt-5 card mb-3 article-img">
            <img src="../assets/images/prensa/diario2.jpg" class="card-img-top" alt="Articulo en el diario El Eco de Tandil. Hoy inauguran tres interesantes propuestas artisticas">
            <div class="card-body">
                <h5 class="card-title">Articulo en el diario El Eco de Tandil</h5>
                <p class="card-text">Muestra en el Mumbat. (18/08/2011)</p>
            </div>
        </div>

        <div class="mt-5 card mb-3 article-img">
            <img src="../assets/images/prensa/triptico-mumbat.jpg" class="card-img-top" alt="Triptico museo de bellas artes tandil llamado dialogo critico con el autor">
            <div class="card-body">
                <h5 class="card-title">Diálogo Crítico con el autor - Tríptico Mumbat</h5>
                <p class="card-text">Septiembre 2011</p>
            </div>
        </div>


        <div class="mt-5 card mb-3 article-img">
            <img src="../assets/images/prensa/pequeno-formato.jpg" class="card-img-top" alt="Salon de pintura llamado pequeño formato numero veintidos">
            <div class="card-body">
                <h5 class="card-title">XXII Salón de Pintura "Pequeño Formato"</h5>
                <p class="card-text">Mumbat (2009)</p>
            </div>
        </div>

        <div class="mt-5 card mb-3 article-img">
            <img src="../assets/images/prensa/qr.jpg" class="card-img-top" alt="Tarjeta de presentacion con codigo QR a la obra Secuencia Mistica de Gustavo Silverati ">
            <div class="card-body">
                <h5 class="card-title">Código QR - Gustavo Silverati</h5>
                <p class="card-text">Secuencia mistica (2012) - Mumbat</p>
            </div>
        </div>

    </div>